@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: outfit;
}

/* @keyframes move {
  100% {
    transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.animate-move {
  animation: move linear infinite;
} */

.placeholder-color {
  color: #e0e0e0;
  font-weight: 300;
}
